body {
  min-height: 100%; 
  height: 100%;
  color: white;
}
.clearfix::after { 
  content: ''; 
  display: block; 
  clear: both;
}
.wrapper {
  width: 400px; 
  margin: 0 auto; 

}
/* header */
.header { 
  height: 100px;
  width: 400px;
  background-color: #141f40;
}
.header-box {
  height: 40px;
  background-color: white;
  width: 160px;
  float: right;
  margin: 10px;
  justify-content: space-between;
  display: flex;
  padding: 10px;
}
.box1 {
  height: 40px;
  width: 40px;
  background-color: #a9004b;
}
.box2{
  height: 40px;
  width: 40px;
  background-color: #a9004b;
}
.box3{
  height: 40px;
  width: 40px;
  background-color: #a9004b;
}
.contents{
  width: 400px;
  height: 250px;
}
.left{
  width: 150px;
  height: 250px;
  background-color: #80bfa8;
  float: left;
}
.right{
  width: 250px;
  height: 250px;
  background-color: #8c2727;
  float: left;
}

.inbox1{
  width: 140px;
  height: 40px;
  background-color: #ff863f;
  margin: 40px 40px 0px 60px;
  border: solid 5px white;
}
.inbox2{
  width: 140px;
  height: 40px;
  background-color: #ff863f;
  margin: 10px 40px 0px 60px;
  border: solid 5px white;
}
.inbox3{
  width: 140px;
  height: 40px;
  background-color: #ff863f;
  margin: 10px 40px 0px 60px;
  border: solid 5px white;
}
.footer{
  width: 400px;
  height: 100px;
  background-color: #d98d30;
}

* {
  margin: 0;
  padding: 0;
}