@charset "UTF-8";

.wrapper{
	margin: 0 auto;
	width: 400px;
}
.header{
	float: auto;
	margin-top: 10px;
	width: 400px;
	text-align: center;
	background-color: blue;
	color: white;
	
}
ul li{
	margin-top: 10px;
	list-style: none;
}
label{
	width: 100px;
	float: left:
}
ul{
	width: 400px;
	margin: 0 auto;
}
input#button{
	display: block;
	margin: 0 auto;
}
ul list.pass {
	margin-bottom: 15px;
}
.footer{
	float: auto;
	margin-top: 10px;
	width: 400px;
	ext-align: left;
	background-color: blue;
	color: white;
	
}